nav {
    padding-left: 20px;
}

pre {
    background: none;
    border: none;
    font-family: inherit;
    padding-left: 7px;
}

small {
    padding-left: 7px;
}

.link {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(white, #d3d3d3);
    box-shadow: 3px 3px 3px #B0B0B0 ;
    width: 100%;
}

.comment {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(white, #d3d3d3);
    box-shadow: 3px 3px 3px #B0B0B0;
    width: 100%;
}

.navMargin {
    padding-right: 17px;
}
#main {
    padding-left: 20px;
}

#alert {
    width: 99%;
}

#alert strong {
    font-size: 14px;
}

#main {
    margin-top: 50px;
}

#alert p {
    font-size: 14px;
}
@media screen and (min-device-width: 481px) {

    #submitComment {
        width: 400px;
        height: 120px;
        border-radius: 5px;
        border: 3px solid #cccccc;
        padding: 3px;
    }



    .link {
        height: 100px;
    }

    .voteing {
        padding-top: 9px;
        text-align: center;
    }
}